# My Jupyter Notebook on IBM Watson Studio

**MRY**

PhD student

_I am interested in data science because I like to find undiscovered connections from data. Specifically, I am interested in time series and social events, because I want to understand how social processes pan out over time. Social processes are not simply aggregations of individual particles moving over time. Instead, there is interaction and feedback that makes the processes and subsequent problems more complex._

### My code describes key statistics of a small dataframe. First, it imports Pandas and Numpy libraries. Next, Pandas option is set to suppress unnecessary scientific notation. Then the dataframe "series" is created from myData, and finally "series" descriptives are printed.

In [10]:
import pandas as pd
import numpy as np

# show describe () floats as string to avoid needless scientific exponentials
#pd.set_option('display.float_format', str) #won't round
pd.set_option('display.float_format', lambda x: '%g' % x) #rounds

myData = {"col1":[15645,2432356,309876],"col2":[423445,56456,61],"col3":[787666,8000,912]}
series = pd.DataFrame(data=myData)

series.describe()

             col1    col2   col3
count           3       3      3
mean       919292  159987 265526
std   1.31858e+06  229897 452200
min         15645      61    912
25%        162760 28258.5   4456
50%        309876   56456   8000
75%   1.37112e+06  239950 397833
max   2.43236e+06  423445 787666

Here, I was testing how to view descriptive statistics without float (in mean) and exponentials. There are many ways to do this suppression:
1. suppress during the whole program https://stackoverflow.com/questions/17737300/suppressing-scientific-notation-in-pandas
2. suppress this dataframe during this output only https://stackoverflow.com/questions/40347689/dataframe-describe-suppress-scientific-notation
3. suppress this column https://stackoverflow.com/questions/40347689/dataframe-describe-suppress-scientific-notation

Notes:
- it is interesting to see how the outcome changes with different methods
- describe() always presents the exponentials if they are in billions (7 numbers), like 2432356 in col1